*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  background-color: transparent !important;
  height: 100vh;
}

body {
  height: 100vh;
  background-color: transparent !important;
}

#app {
  height: 100vh;
  background-color: transparent !important;
}
